@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-gray-100 dark:bg-black;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop-up {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes homepage-intro {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.pop-up {
  animation: pop-up 0.3s ease-in-out;
}

.fadein {
  animation: fade-in 0.5s ease-in-out;
}

.homepage-intro {
  animation: homepage-intro 0.78s ease-in-out;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
